<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>ME Preffered suggestions Survey - Phase I.</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style>
		img.centered {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	</style>


<body style="background-color:black">
	<img class="centered" style="padding-top:25px" src="./images/banner.png"/> 
	<div style="text-align:center;padding-top:50px">
		<h2 style="padding-bottom:50px;color:white">Thank you for your vote, <%= greeting %>!</h2>
		<a href="http://www.medieval-europe.eu/index.php/boardmessage/index/europecrier">Return to the game</a>
	</div>
</body>
</html>